<!DOCTYPE html>
<html>
<head>
	<title>TextPad</title>
</head>
<body>
	<div ng-app="textPad" ng-controller="textPadController">
		<textarea ng-model="text">
		</textarea>
		<br>
		<span>Input up to 100 words, leaving <span>{{left()}}</span> words</span>
		<br>
		<button ng-click="reset()">reset</button>
		<button ng-click="save()">save</button>
	</div>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
	<script>
		angular.module('textPad', [])
			.controller('textPadController', function($scope) {
				$scope.text = '';
				$scope.reset = function() {
					$scope.text = '';
				};
				$scope.save = function() {
					if($scope.length == 0)
						alert('input is null, save faild!');
					else
						alert("saved");	
				};
				$scope.left = function() {
					return 100 - $scope.text.length;
				};
			});
	</script>
</body>
</html>